h1 {
    color: green
}

body {
    color: rgb(200, 0, 200);
    background-color: rgb(229, 255, 0);
    
}

#test {

    color: rgb(248, 1, 34);
    
}

a[title="cv en construction"] {

    color: rgb(0, 153, 255)
}